﻿@model EntityFrameworkExample.Models.Blog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

    </dl>
</div>
<h3>Posts</h3>
@Html.ActionLink("Opret indlæg", "Create", "Posts", new { id = Model.BlogId}, null)
<div>
    @foreach (var post in Model.Posts) 
    {
        @Html.ActionLink(post.Heading, "Details", "Posts", new { id = post.PostId }, null)
        <p>@post.Author.Name</p>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BlogId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
